<header class="d-flex justify-content-center align-items-center py-3">
  <h1 class="text-center">¡Te damos la bienvenida,
    {{user.name}}
    {{user.surname}}!
    <br />
    ¡Gusto en verte!
  </h1>
</header>
<script src="/js/index.js"></script>