<main>
  <div class="mb-3">
    <label for="email" class="form-label">Correo Electrónico</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" />
  </div>
  <button
    class="btn btn-primary mx-auto d-block my-3"
    onclick="onSubmit()"
  >Iniciar Sesión</button>
  <div id="form-message"></div>
  <a href="/register">Regístrate</a>
  <br />
  <a href="/api/sessions/github">Entrar con Github</a>
  <br />
  <a href="/recovery">Recuperación de contraseña</a>
</main>
<script src="/js/login.js"></script>
{{#if loginFailed}}
  <script type="text/javascript">
    alert('Login Failed!');
  </script>
{{/if}}

{{#if registerSuccess}}
  <script type="text/javascript">
    alert('Register Success!');
  </script>
{{/if}}

{{#if recoverySuccess}}
  <script type="text/javascript">
    alert('Recovery Success!');
  </script>
{{/if}}

{{#if resetSuccess}}
  <script type="text/javascript">
    alert('Reset Success!');
  </script>
{{/if}}